.container {
    width: min(100%, 1440px);
    margin: auto;
    background-color: #1C5550;
    
}

/* header */

header {
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: HEADER;
 
}


.header_ul {
    display: flex;
    column-gap: 36px;
    left: 260px;
    
}

.header_a {
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
 color: #DFD9D9;
}

.button{
    width: 200px;
height: 32px;
padding: 8px 20px 7px 20px;

}
.navsearch{
    display: flex;
}
.h3{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
}
.button1{
    width: 315px;
    height: 32px;
    background-color: #04312d;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav4{
    display: flex;
    width: 320px;
height: 40px;
top: 244px;
background: #DFD9D9;
display: flex;
left: 500px;
}

/*aside */

aside {
    width: 200px;
    padding: 20px;
    background-color: #184a46;
    width: 320px;
height: 340px;
top: 128px;
left: 20px;
gap: 0px;
opacity: 0px;
margin: 0 auto;
grid-area: SECTION2;

}

.h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: 
    #C3B97F;
    width: 165px;
height: 27px;
top: 38px;
left: 40px;
}

.asideul {
    list-style-type: none;
    margin: auto;
}

.asideli {
    margin-bottom: 20px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;
        color: #91B599;
        width: 69px;
        height: 60px;  
        font-weight: 200px;
}

.aside-section{
    display: flex;
}
.section2{
    width: 680px;
    height: 340px;
    top: 128px;
    left: 380px;
    margin: auto;
   
}
.img4{

}.nav3{
    width: 680px;
    height: 40px;
    top: 300px;
    padding: 0px 0px 0px 20px;  
    display: flex;
    
}
.button2{
    width: 180px;
    height: 40px;
    left: 500px;
    padding: 9px 50px 9px 51px;
    background: #C3B97F;
    font-family: Inter;
font-size: 10px;
font-weight: 700;
line-height: 22px;
text-align: left;  
}
.h3{
    width: 680px;
height: 40px;
top: 300px;
background-color: #DFD9D9;
}

.frame1{
    width: 320px;
height: 146px;
top: 128px;
left: 1100px;
margin-top: auto;
flex-direction: column;

}

.frame2{
    width: 320px;
height: 146px;
top: 322px;
left: 1100px;
gap: 0px;
opacity: 0px;

align-items: center;
}
.navphoto{
    margin: auto;
}
   
.section4{
    display: flex;
    background-color: #04312d;
    padding: 50px;
  }
  
  .photo1 {
   
    grid-area: PHOTO1;
  }
  
  .photo2 {
    
    grid-area: PHOTO2;
  }
  
  .photo3 {
   
    grid-area: PHOTO3;
  }
  
  .photo4 {
  
    grid-area: PHOTO4;
  }
  
  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  
    color: #1c5550;
  }
  .article_div {
    width: 320px;
    height: 40px;
    background-color: #dfd9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04312d;
  }
  .articleText {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #dfd9d9;
  }
  .PRICE {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1c5550;
  }
  button {
    width: 97px;
    height: 40px;
    background-color: #c3b97f;
    border: none;
  }
  .buttontext {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #dfd9d9;
  }