.container {
    width: min(100%, 1440px);
    margin: auto;
    background: #1C5550;

    
}

/* header */

header {
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_ul {
    display: flex;
    column-gap: 36px;
    left: 260px;
    
}

.header_a {
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: left;
letter-spacing: -0.44023728370666504px;
 color: #DFD9D9;
}

.button{
    width: 200px;
height: 32px;
padding: 8px 20px 7px 20px;

}
.navsearch{
    display: flex;
}
.h3{
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;
}
.button1{
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 22px;
text-align: left;
background: #C3B97F;

}

.nav4{
    display: flex;
    width: 320px;
height: 40px;
top: 244px;
background: #DFD9D9;
display: flex;
left: 500px;
}